# Local PostgreSQL credentials
PG_PRIMARY_PASSWORD=
# Grafana Cloud Credentials
GRAFANA_CLOUD_ENDPOINT=https://prometheus-prod-67-prod-us-west-0.grafana.net/api/prom/push
GRAFANA_CLOUD_API_KEY=
GRAFANA_CLOUD_USER=