version: 1
environment: "local"

postgres:
  image: "postgres:16"
  network: "pgnet"

  primary:
    name: "pg-primary"
    port: 5432
    database: "pgbench"
    user: "postgres"

  replicas:
    count: 2
    base_port: 5540
    name_prefix: "pg-replica-"
